extends ../../layout/index
block contenido
  nav.navbar.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='/logout') Logout
  .container
    .row
      .col-md-5.mx-auto
        h2 Crear nuevo usuario
        .card 
          .card-body 
            form(action='/signup', method='post')
              .form-group
                input.form-control(type='text', name='username', placeholder='Nombre de usuario')
              .form-group
                input.form-control(type="password", name='password', placeholder='Contraseña')
              button.btn.btn-primary(type='submit')
                | Add
    each usuario in usuarios
      .col-md-7.my-4.mx-auto
        table.table.table-bordered.table-hover
          thead
            tr
              th Usuario
              th Contraseña
          tbody
            tr
              td=usuario.username
              td=usuario.password
                strong
              td
                form(action="/delete/"+usuario._id,method="post")
                  button.btn.btn-danger(type="submit")
                    | Delete